<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kg.tutorialapp.animals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Animals">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityAnimal"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityCalculator"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LessonsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityChronometer"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityLinear"
            android:parentActivityName=".LessonsActivity" />
        <activity
            android:name=".ActivityMyColor"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".ActivityRelative"
            android:parentActivityName=".LessonsActivity"></activity>
        <activity
            android:name=".ActivityConstraint"
            android:parentActivityName=".LessonsActivity"></activity>
        <activity
            android:name=".ActivityConstraint2"
            android:parentActivityName=".LessonsActivity"></activity>
    </application>

</manifest>